.titleContainer {
	grid-column: 1 /span 4;
	width: fit-content;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
    width: 100%;
}

.titleContainer p {
	height: fit-content;
	margin-bottom: 0rem;
}

.tagline {
	font-size: 3rem;
	word-wrap: normal;
    margin-top: 16rem;
	margin-bottom: 16rem;
	text-align: center;
	position: relative;
}


.scroll-down {
    grid-column: 4 / 3;
    text-align: left;
    font-size: 20px;
    text-decoration: none;
    width: 15px;
    height: 15px;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    border-radius: 1px;
    z-index: 9;
    transform: translate(-50%, 0%);
    animation: fade_move_down 4s ease-in-out infinite;
  }
  

/* stlyes for the short about section */

.about {
	grid-column: 1 /span4;
	grid-row: 4;
	margin-top: 30rem;
	margin-bottom: 10rem;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.about h1 {
	font-size: 4rem;
    font-family: SairaExtraCondensed-Regular;
}

.aboutImg {
	min-width: 78%;
	min-height: 100%;
	background-color: #1b1b1b;
	border-radius: var(--border-radius);
	border: 4px solid black;
	background-image: url("../img/Self_Portrait_.png");
	background-position: center;
	background-origin: border-box;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

article{
    width: 60%;
    font-size: 120%;
    margin-bottom: 5rem;
}


/* styles for skills */

.skills {
	grid-column: 1 /span 4;
	grid-row: 5;
	margin-top: 16rem;
	margin-bottom: 3rem;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	gap: 2rem;

}
#skillsheading {
	grid-column: 1 /span 4;
	justify-content: center;
    margin-top: 10rem;
	grid-row: 5;
	font-size: 4rem;
	font-family: SairaExtraCondensed-Regular;
	display: flex;
    text-align: center;
}

#contactImage {
	width: 50%;
	height: auto;
	border-radius: var(--border-radius);
    border: 4px solid black;
}

.skillsImg{
    min-width: 30rem;
    min-height: 100%;
    margin: 2rem;
    background-image: url("../img/Whatcanudo.jpg");
    background-attachment: cover;
    background-position: center;
    background-size: cover;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
    border: 4px solid black;
}

.skillsList ul {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    gap: 3rem;
    align-content: center;
    justify-content: center;
}

#skillsList {
	display: flex;
	flex-flow: column;
	gap: 1rem;
	width: initial;
	height: fit-content;
}

#graphicdesign, #illus, #gamedev, #webdev {
    border: 2px solid rgb(49, 49, 49);
    padding: 2rem;
    border-radius: var(--border-radius);
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    text-align: left;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

ul a{
    margin: 0;
    color: #000000;
}

.subSkills {
    display: none;
    opacity: 0;
}

.subSkills.show {
    display: block;
    text-align: left;
    opacity: 100;
    transition: opacity 0.6s ease-out;
}

#arrows {
	border: none;
	width: 18px;
	position: relative;
	left: 89%;
}

/* more styles */

.more{
	grid-column: 1 /span 4;
	grid-row: 6;
    margin-top: 14rem;
	margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.moreContent{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

#moreHeading {
	grid-column: 1 /span 4;
	justify-content: center;
	margin-top: 7rem;
	grid-row: 6;
	font-size: 4rem;
	font-family: SairaExtraCondensed-Regular;
	display: flex;
	text-align: center;
	max-height: fit-content;
}

.imageContainer-1, .imageContainer-2 {
	width: 20rem;
	height: 20rem;
	background-color: gray;
	margin: 0 2rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: var(--border-radius);
}

a h2{
	position: relative;
	left: 8.5rem;
	margin-top: 1rem;
	font-size: 2rem;
	font-family: SairaExtraCondensed-Regular;
}

.imageContainer-1{
    background-image: url(../img/Whatcanudo.jpg);
    background-size: cover;
    filter: blur(2px);
    transition: all .2s ease;
}

.imageContainer-2{
    background-image: url(../img/Self_Portrait_.png);
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    transition: all .2s ease;
}

.imageContainer-1:hover, .imageContainer-2:hover{
    filter: blur(0px);
}

/* footer */

footer{
    grid-column: 2 /span 2;
	grid-row: 7;
    width: 100%;
    height: 10vh;
    margin: 8rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    color: gray;
}

footer, *{
    margin-top: 3rem;
    font-size: 80%;
}


  /*animated scroll arrow animation*/
  @keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }

  @media (max-width: 900px) {

    /* Conceal the conventional navigation container */
    #navUl {
      display: none;
    }
    
    /* Reveal the magical button */
    .nav-toggle {
      display: flex;
      justify-content: center;
      background-color: transparent; /* Set background color to transparent initially */
      border: none; /* Remove border for a cleaner appearance */
      z-index: 100;
    }
  
    .toggle-icon {
      font-size: 39pt;
    }
  
    /* Show the navigation ul when the button is toggled */
    #navUl.show {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        font-size: 30pt;
        background-color: #000000e7;
        position: relative;
        top: 30vh;
        padding: 10rem;
        left: 0;
        width: 100%;
        min-height: 99vh;
    }

    #navUl.show *{
        color: white;
    }

    /* Adjust nav container to occupy full width when button is toggled */
    nav {
      width: 100%;
      position: sticky;
      top: -10px;
      transition: none;
      background-color: transparent;
    }

    .scroll-down {
        grid-column: 3;
        grid-row: 3;
        position: absolute;
        top: 39rem;
        text-align: left;
        font-size: 20px;
        text-decoration: none;
        width: 15px;
        height: 15px;
        border-bottom: 2px solid #000000;
        border-right: 2px solid #000000;
        border-radius: 1px;
        z-index: 9;
        transform: translate(-50%, 0%);
        animation: fade_move_down 4s ease-in-out infinite;
      }

    .aboutImg{
        min-width: 80%;
        min-height: 50%;
        background-attachment: scroll;
        background-size: cover;
    }

    article{
        width: 85%;
        font-size: 130%;
    }

    .skillsImg{
        min-width: 80%;
        background-position: center;
        min-height: 50%;
        margin-top: 10rem;
    }

    #skillsheading {
        font-size: 3rem;
    }

    .imageContainer-1{
        filter: none;
    }
    
    .imageContainer-2{
        filter: none;
    }



  }



@media (max-width: 1530px){
    #moreHeading {
        grid-column: 1 /span 4;
        justify-content: center;
        margin-top: 35rem;
        grid-row: 6;
        font-size: 4rem;
        font-family: SairaExtraCondensed-Regular;
        display: flex;
        text-align: center;
        max-height: fit-content;
    }
    .more {
        grid-column: 1 /span 4;
        grid-row: 6;
        margin-top: 42rem;
        margin-bottom: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}

@media (max-width: 484px){
    #moreHeading {
        margin-top: 30rem !important;
    }
}