/* variables */



:root{
    --border-radius: 0.6rem;
    --background-color: rgb(20, 20, 20);
    --nav-height:50px;
    padding-top: var(--nav-height);
}


@font-face {
    font-family: Saira-Regular;
    src: url(../fonts/Saira-Regular.ttf);
}

@font-face {
    font-family: SairaExtraCondensed-Regular;
    src: url(../fonts/SairaExtraCondensed-Regular.ttf);
}


/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    font-family: Saira-Regular;
    background-color: var(--background-color);
    color: var(--background-color);
    overflow: hidden;
}


.hands-card {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#hand-front {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 32vw;
    z-index: 3;
}

#hand-back {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 32vw;
}

.cardContainer {
	position: fixed;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, min-content);
	inset: 0px;
	width: 80rem;
	height: 47rem;
	max-width: 70vw;
	max-height: 100dvh;
	margin: auto;
	background-color: rgb(255, 255, 255);
	border: 4px solid black;
	border-radius: var(--border-radius);
	box-shadow: 5px 5px 10px #000000a3;
	z-index: 2;
	overflow-y: scroll;
	overflow-x: hidden;
}

.nav-toggle{
    display: none;
}

.nav--hidden{
    transform: translateY(-10rem); 
    opacity: 0; 
}

/* Width of the scrollbar */
.cardContainer::-webkit-scrollbar,
.cardContainer {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #161616 #f1f1f1; /* thumb and track color */
}

/* Track */
.cardContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.cardContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: var(--border-radius);
}

/* Handle on hover */
.cardContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}


nav {
	grid-column: 1 /span 4;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	padding: 1rem 0;
    width: 100%;
    height: var(--nav-height);
    background-color: white;
    position: sticky;
    top: 0px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

#navUl {
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	gap: 6rem;
}

a{
    color: rgb(85, 85, 85);
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
    transition: transform 0.2s ease;
}

a:hover{
    color: rgb(52, 129, 192);
    transform: scale(1.1);
}

.nav--hidden{
    transform: translateY(-10rem); 
    opacity: 0; 
}

button{
    background-color: white;
    color: rgb(85, 85, 85);
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
    transition: transform 0.2s ease;
}

button:hover{
    color: rgb(52, 129, 192);
    transform: scale(1.1);
    cursor: pointer;
}

/* footer */

footer{
    grid-column: 2 /span 2;
	grid-row: 9;
    width: 100%;
    height: 10vh;
    margin: 8rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    color: gray;
}

footer, *{
    margin-top: 3rem;
}


/* portfolio specific */

.portfolioNav {
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
    gap: 2rem;
	grid-column: 1 /span 4;
	background-color: rgb(252, 252, 252);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
	border-radius: var(--border-radius);
	margin: 0 3rem;
	padding: 5rem;
}

#dropdown {
    display: none;
}

.imageContainer {
	grid-column: 1 /span 4;
	min-width: 20rem;
	min-height: 32rem;
	background-color: #d0d0d0a3;
	box-shadow: inset 0px 0px 5px #cfcfcf;
	margin: 0 3rem;
	border-radius: var(--border-radius);
	margin-top: 3rem;
}

.portfolio-section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.portfolio-section div {
	display: flex;
	flex-flow: row wrap;
	padding: 1rem;
	gap: 2rem;
	justify-content: center;
}

div article h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}


/* #action-container .action-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 88px;
	height: 28px;
	border: none;
	border-radius: 3px;
	color: #fff;
	background-color: #fff;
	font-size: 13px;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
	cursor: pointer;
}

.embed-footer .info .counter {
	margin-right: -86px;
}

.embed-footer .counter {
	border-radius: 2.6px;
	font-size: 10px;
	font-weight: bold;
	line-height: 1.19;
	text-align: center;
	color: #4a4a4a;
	padding: 2px 8px;
	height: 14px;
}

.embed-footer .embed-logo {
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 0;
	margin: 0;
	min-width: 32%;
}

#logo-container {
	max-width: 47%;
	height: auto;
}

#logo-container {
	max-width: 47%;
	height: auto;
} */


  /* responsive styles */
@media (max-width: 900px) {

    .cardContainer {
        max-height: 100vh;
        margin-bottom: 1.9rem;
        height: 90%;
    }

     /* Conceal the conventional navigation container */
     #navUl {
        display: none;
      }
      
      /* Reveal the magical button */
      .nav-toggle {
        display: flex;
        justify-content: center;
        background-color: transparent; /* Set background color to transparent initially */
        border: none; /* Remove border for a cleaner appearance */
        z-index: 100;
      }
    
      .toggle-icon {
        font-size: 39pt;
      }
    
      /* Show the navigation ul when the button is toggled */
      #navUl.show {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          font-size: 30pt;
          background-color: #000000e7;
          position: relative;
          top: 30vh;
          padding: 10rem;
          left: 0;
          width: 100%;
          min-height: 99vh;
          z-index: 99;
      }
  
      #navUl.show *{
          color: white;
      }
  
      /* Adjust nav container to occupy full width when button is toggled */
      nav {
        width: 100%;
        position: sticky;
        top: -10px;
        transition: none;
      }

      /* portfolio nav bar */

    .portfolioNav{
        display: none;
        background-color: none;
        box-shadow: none;
    }

    #dropdown {
        display: flex;
        flex-flow: column nowrap;
        gap: 0;
        width: fit-content;
    }

    .link{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 1rem;
        gap: 10px;
        font-size: 110%;
        width: 100%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
        border-radius: var(--border-radius);
    }
    
    .dropdown-content{
        list-style-type: none;
        background-color: rgb(252, 252, 252);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
        border-radius: var(--border-radius);
        text-align: center;
        width: 76%;
        padding: 0.50rem;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    }
    
    .dropdown-content.show{
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
    
}


@media (min-width: 3840px) {
    .cardContainer {
        width: 65vw;
        height: 54vh;
    }
}