


/* portfolio specific */

.portfolioNav {
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
    gap: 2rem;
	grid-column: 1 /span 4;
	background-color: rgb(252, 252, 252);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
	border-radius: var(--border-radius);
	margin: 0 3rem;
	padding: 5rem;
}

#dropdown {
    display: none;
}

.imageContainer {
	grid-column: 1 /span 4;
	background-color: #d0d0d0a3;
	box-shadow: inset 0px 0px 5px #cfcfcf;
	margin: 0 3rem;
	border-radius: var(--border-radius);
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	margin-top: 3rem;
	display: flex;
	justify-content: space-around;
}

.imageContainer section {
	padding: 4rem 6rem;
	margin-top: 3rem;
	position: relative;
	max-width: 92%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	gap: 2em;
}

#loadingScreen {
	position: fixed;
    top: 0;
    left: 0;
    font-size: 130%;
	width: 100%;
	min-height: 100%;
	background: #1a1a1a;
    color: #cfcfcf;
	display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;
	z-index: 9999 !important;
    pointer-events: none;
	transition: opacity 0.5s ease;
}

#loadingScreen.done{
    opacity: 0;
}

#loadingScreen img {
	width: 6%;
	height: 50%;
	filter: drop-shadow(0px 8px 7px #b0b0b0);
}

.slider-nav {
    display: flex;
    position: absolute;
    bottom: 50%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.slider-nav a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrow1{
    transform: rotate(90deg);
}

#arrow2{
    transform: rotate(270deg);
}

.gameproject1{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

article {
	display: flex;
	flex-flow: column;
	height: auto;
	justify-content: center;
	align-items: center;
	max-width: 76%;
	position: relative;
	left: 6em;
    min-height: 35%;
}

#illus{
    min-height: auto;
}

p, article ul {
    margin: 1em 0;
	text-wrap: auto;
    text-align: justify;
}

div article h2{
    font-size: 2rem;
    margin-top: 1rem;
}

div *{
    justify-content: center;
}

  /* responsive styles */
@media (max-width: 900px) {

    .cardContainer {
        max-height: 100vh;
        margin-bottom: 1.9rem;
        height: 90%;
    }

     /* Conceal the conventional navigation container */
     #navUl {
        display: none;
      }
      
      /* Reveal the magical button */
      .nav-toggle {
        display: flex;
        justify-content: center;
        background-color: transparent; /* Set background color to transparent initially */
        border: none; /* Remove border for a cleaner appearance */
        z-index: 100;
      }
    
      .toggle-icon {
        font-size: 39pt;
      }
    
      /* Show the navigation ul when the button is toggled */
      #navUl.show {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          font-size: 30pt;
          background-color: #000000e7;
          position: relative;
          top: 30vh;
          padding: 10rem;
          left: 0;
          width: 100%;
          min-height: 99vh;
          z-index: 99;
      }
  
      #navUl.show *{
          color: white;
      }
  
      /* Adjust nav container to occupy full width when button is toggled */
      nav {
        width: 100%;
        position: sticky;
        top: -10px;
        transition: none;
      }

      /* portfolio nav bar */

      .portfolioNav {
        display: none;
        background-color: none;
        box-shadow: none;
        max-width: 100%;
        justify-self: center;
        max-height: 20%;
    }

    #dropdown {
        display: flex;
        flex-flow: column nowrap;
        gap: 0;
        width: fit-content;
    }

    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 1rem;
        gap: 10px;
        font-size: 110%;
        width: 120%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
        border-radius: var(--border-radius);
    }   
    
    .dropdown-content{
        list-style-type: none;
        background-color: rgb(252, 252, 252);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
        border-radius: var(--border-radius);
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 76%;
        padding: 1rem 4rem;
        margin: 1em;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    }

    .dropdown-content.show{
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    #dropdownArrow {
        transform: rotate(0deg);
        transition: transform 0.4s ease-in-out; /* Adjust duration and easing as needed */
    }
    
    #dropdownArrow.rotate {
        transform: rotate(180deg);
    }
    

    .imageContainer{
        margin-top: 0.5rem;
    }
    
}


@media (min-width: 3840px) {
    .cardContainer {
        width: 65vw;
        height: 54vh;
    }
}

@media (max-width: 1278px){
    .imageContainer {
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
        justify-content: space-around;
    }
    
    .imageContainer section{
        flex-direction: column;
        gap: 4rem;
    }

    .slider-nav{
        display: none;
    }

    article {
        left: 0;
        max-width: fit-content;
    }
}